.contacts{
   justify-content: flex-end;
   @media screen and (max-width: $tableWidth) {
      justify-content: center;
   }
}
.contacts__list{
   display: flex;
}
.contacts__item{
   display: flex;
   align-items: center;
   justify-content: space-between;
   @media screen and (min-width: $tableWidth + 1px) and (max-width: $smDesktopWidth) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
   }
   @media screen and (max-width: $tableWidth) {

      justify-content: center;
   }
}
.contacts__icon{
   margin-right: 10px;
   color: $accentColor;
   font-size: 15px;
   @media screen and (min-width: $tableWidth + 1px) and (max-width: $smDesktopWidth) {
      margin-bottom: 10px;
   }
}
.contacts__item:not(:last-child){
   margin-right: 40px;

}