.content{
   display: block; // для ie 11
   background-color: $mainColor;
   background-image: url('../img/mainback.jpg');
   background-repeat: no-repeat;
   background-size: cover;
   padding-top: 120px;
   padding-bottom: 140px;
   position: relative;
   @media screen and (max-width: $tableWidth) {
      padding: 60px 0 30px;
   }
}
.content__title{
   text-transform: uppercase;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 36px;
   font-family: $heavyFont;
   color: $mainFontColor;
   margin-bottom: 25px;
   @media screen and (max-width: $tableWidth) {
      font-size: 32px;
   }
   @media screen and (max-width: $phoneWidth) {
      font-size: 28px;
   }
   @media screen and (max-width: $smPhoneWidth) {
      font-size: 24px;
   }
}
.content__title b{
   color: $accentColor;
   font-weight: normal;
}

.content__desc{
   display: flex;
   justify-content: center;
   align-items: center;
   color: transparentize($mainFontColor, .4);
   @media screen and (max-width: $tableWidth) {
      text-align: center;
   }
}