.content{
   background-color: $mainColor;
   background-image: url('../img/mainback.jpg');
   background-repeat: no-repeat;
   background-size: cover;
   padding-top: 120px;
   padding-bottom: 140px;
   position: relative;
}
.content__title{
   text-transform: uppercase;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 36px;
   font-family: $heavyFont;
   color: $mainFontColor;

   margin-bottom: 25px;
}
.content__title b{
   color: $accentColor;
   font-weight: normal;
}

.content__desc{
   display: flex;
   justify-content: center;
   align-items: center;
   color: transparentize($mainFontColor, .4);
}