.firstscreen{
   color: $colorFontDark;

   padding-top: 145px;
   padding-bottom: 194px;

   display: flex;
   flex-direction: column;
   justify-content: flex-start;
}
.firstscreen__title{
   color: $colorFontBold;
   text-transform: uppercase;
   font-family: $boldFont;
   
   font-size: 48px;
   line-height: 64px;
   margin-bottom: 70px;
   @media screen and (max-width: $tableWidth) {
      font-size: 30px;
      line-height: 42px;
   }
}
.firstscreen__title span{
   color: $accentColor;
}

.firstscreen__desc{
   font-family: $boldFont;
   font-size: 20px;
   line-height: 34px;
   font-weight: bold;
}

.firstscreen__list{
   font-family: $mainFont;
   font-size: 20px;
   line-height: 34px;

   margin-bottom: 75px;
}
.firstscreen__item{
   padding-left: 15px;
   position: relative;
   &::before{
      content: '-';
      position: absolute;
      left: 0;
   }
}
.firstscreen__interactive{
   display: flex;
   @media screen and (max-width: $phoneWidth) {
      flex-direction: column;   
   }
}
.firstscreen__button{
   text-transform: uppercase;
   color: $colorFontDark;
   border: 1px solid $colorFontDark;
   border-radius: 5px;
   min-width: 180px;
   min-height: 42px;
   margin-right: 20px;
   transition: $transitionAll;
   display: flex;
   justify-content: center;
   align-items: center;

   &:hover, &:active{
      color: $mainFontColor;
      background: $accentColor;
      border-color: $mainFontColor;
   }
   @media screen and (max-width: $phoneWidth) {
      margin-bottom: 25px;   
   }
}