.header{
   background-image: url('../img/headerback.jpg');
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;

   @media screen and (max-width: $smDesktopWidth) {
      background-position: 60% 0;
   }
   @media screen and (max-width: $tableWidth) {
      background-position: 60% 0;
   }
}