.logo{
   font-family: 'Raleway', Helvetica, Arial, sans-serif;
   color: $mainFontColor;
   text-transform: uppercase;
   font-size: 28px;
   // background: $mainColorLight;
}
.logo--accent{
   color: $accentColor;
}