.payments{
   justify-content: center;
}
.payments__list{
   display: flex;
}
.payments__item{
   display: flex;
   align-items: center;
   line-height: 13px;
   @media screen and (min-width: $tableWidth + 1px) and (max-width: $smDesktopWidth) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
   }
}
.payments__item:not(:last-child){
   margin-right: 20px;
}
.payments__icon{
   margin-right: 10px;
   @media screen and (min-width: $tableWidth + 1px) and (max-width: $smDesktopWidth) {
      margin-bottom: 10px;
   }
}