.range {
   color: $mainFontColor;
   display: flex;
   position: relative;
   flex-direction: column;
   justify-content: space-between;
}

.range__value{
   position: absolute;
   right: 0;
   top: 0;
   width: 50px;
   height: 20px;
   color: $lightColor;
}
.range__slider {
   -webkit-appearance: none;
   width: 100%;
   background: transparent;
}
.range__slider:focus{
   outline: none;
}
// mozilla range

.range__slider::-moz-range-track {
   width: 100%;
   height: 6px;
   cursor: pointer;
   background: $grayColor;
   border-radius: 3px;
   border: 1px solid $mainFontColor;
}
.range__slider::-moz-range-thumb {  
   height: 24px;
   width: 24px;
   border-radius: 50%;
   border: 3px solid $accentColorDarkest;
   background: $accentColor;
   cursor: pointer;
}

// webkit range

.range__slider::-webkit-slider-runnable-track {
   width: 100%;
   height: 6px;
   cursor: pointer;
   background: $grayColor;
   border-radius: 3px;
   border: 1px solid $mainFontColor;
}

.range__slider::-webkit-slider-thumb {
   -webkit-appearance: none;
   height: 24px;
   width: 24px;
   border-radius: 50%;
   border: 3px solid $accentColorDarkest;
   background: $accentColor;
   cursor: pointer;
   margin-top: -11px;
}

.range__slider:focus::-webkit-slider-runnable-track {
   background: $grayColor;
}

// ie range, saddest story bro

.range__slider::-ms-track {
   width: 100%;
   height: 6px;
   cursor: pointer;
   background: transparent;
   border-color: transparent;
   border-width: 16px 0;
   color: transparent;
}

.range__slider::-ms-fill-lower {
   height: 6px;
   background: $grayColor;
   border-radius: 3px;
   border: 1px solid $mainFontColor;
}

.range__slider::-ms-fill-upper {
   height: 6px;
   background: $grayColor;
   border-radius: 3px;
   border: 1px solid $mainFontColor;

}

.range__slider::-ms-thumb {
   height: 24px;
   width: 24px;
   border-radius: 50%;
   border: 3px solid $accentColorDarkest;
   background: $accentColor;
   cursor: pointer;
   margin-bottom: -3px;
}
.range__slider:focus::-ms-fill-lower {
   background: $grayColor;
}
.range__slider:focus::-ms-fill-upper {
   background: $grayColor;
}
