.workflow{
   color: $mainFontColor;

   display: flex;
   justify-content: space-between;
   
   margin-top: 75px;
   margin-bottom: 95px;
}


.workflow__item{
   width: 15%;

   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
   text-align: center;

}
.workflow__icon{

   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 36px;
   color: $mainFontColor;
   background: $accentColor;
   width: 90px;
   height: 90px;
   border: 5px solid $accentColorDarkest;
   border-radius: 50%;
   position: relative;
   margin-bottom: 15px;
}
.workflow__item:nth-of-type(3) .workflow__icon::before{
   content: '';
   position: absolute;
   width: 15px;
   height: 15px;
   top: 17px;
   left: 20px;
   background-image: url('../img/plus.png');
   background-repeat: no-repeat;
}
.workflow__item:not(:last-child) .workflow__icon::after{
   content: '';
   position: absolute;
   width: 105px;
   // width: 100%;
   height: 9px;
   right: -135px;
   background-image: url('../img/dotstack.png');
   background-repeat: no-repeat;
}