// Fonts here
@font-face{
  font-family: 'LatoRegular';
  src: local('Lato Regular'), local('Lato-Regular'), url('/fonts/latoregular.woff2') format('woff2'), url('/fonts/latoregular.woff') format('woff'), url('/fonts/latoregular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'LatoMedium';
    src: local('Lato Medium'), local('Lato-Medium'), url('/fonts/latomedium.woff2') format('woff2'), url('/fonts/latomedium.woff') format('woff'), url('/fonts/latomedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'LatoLight';
    src: local('Lato Light'), local('Lato-Light'), url('/fonts/latolight.woff2') format('woff2'), url('/fonts/latolight.woff') format('woff'), url('/fonts/latolight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'LatoBold';
    src: local('Lato Bold'), local('Lato-Bold'), url('/fonts/latobold.woff2') format('woff2'), url('/fonts/latobold.woff') format('woff'), url('/fonts/latobold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Lato';
    src: local('Lato Black'), local('Lato-Black'), url('/fonts/latoblack.woff2') format('woff2'), url('/fonts/latoblack.woff') format('woff'), url('/fonts/latoblack.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}