// Fonts here
@import url('https://fonts.googleapis.com/css?family=Raleway:800');

@font-face {
   font-family: 'LatoRegular';
   src: local('Lato Regular'), local('Lato-Regular'), url('/fonts/latoregular.woff2') format('woff2'), url('/fonts/latoregular.woff') format('woff'), url('/fonts/latoregular.ttf') format('truetype');
   font-weight: 400;
   font-style: normal;
}

@font-face {
   font-family: 'LatoMedium';
   src: local('Lato Medium'), local('Lato-Medium'), url('/fonts/latomedium.woff2') format('woff2'), url('/fonts/latomedium.woff') format('woff'), url('/fonts/latomedium.ttf') format('truetype');
   font-weight: 500;
   font-style: normal;
}

@font-face {
   font-family: 'LatoLight';
   src: local('Lato Light'), local('Lato-Light'), url('/fonts/latolight.woff2') format('woff2'), url('/fonts/latolight.woff') format('woff'), url('/fonts/latolight.ttf') format('truetype');
   font-weight: 300;
   font-style: normal;
}
@font-face {
   font-family: 'LatoSemibold';
   src: local('Lato Semibold'), local('Lato-Semibold'), url('/fonts/latosemibold.woff2') format('woff2'), url('/fonts/latosemibold.woff') format('woff'), url('/fonts/latosemibold.ttf') format('truetype');
   font-weight: 300;
   font-style: normal;
}
@font-face {
   font-family: 'LatoBold';
   src: local('Lato Bold'), local('Lato-Bold'), url('/fonts/latobold.woff2') format('woff2'), url('/fonts/latobold.woff') format('woff'), url('/fonts/latobold.ttf') format('truetype');
   font-weight: 700;
   font-style: normal;
}

@font-face {
   font-family: 'LatoHeavy';
   src: local('Lato Heavy'), local('Lato-Heavy'), url('/fonts/latoheavy.woff2') format('woff2'), url('/fonts/latoheavy.woff') format('woff'), url('/fonts/latoheavy.ttf') format('truetype');
   font-weight: 700;
   font-style: normal;
}

@font-face {
   font-family: 'LatoBlack';
   src: local('Lato Black'), local('Lato-Black'), url('/fonts/latoblack.woff2') format('woff2'), url('/fonts/latoblack.woff') format('woff'), url('/fonts/latoblack.ttf') format('truetype');
   font-weight: 900;
   font-style: normal;
}