.container {
   width: 100%;
   max-width: $descLayoutWidth;
   // max-width: $desktopWidth;
   margin-right: auto;
   margin-left: auto;
   position: relative;

   @media screen and (max-width: $descLayoutWidth) {
      max-width: $tableWidth;
   }

   @media screen and (max-width: $tableWidth) {
      max-width: $phoneWidth;
   }

   @media screen and (max-width: $phoneWidth) {
      max-width: $smPhoneWidth;
   }
}