// colors
$mainColor: #272733;
$mainColorLight: #3d4050;
$mainFontColor: #fff;
$lightColor: #fff;
$accentColor: #3e9cdc;
$accentColorDarkest: #286690;
$topDark: #12121e;
$colorFontBold: #272733;
$colorFontDark: #2a2b30;
$grayColor: #bfbfc2;


$templateWidth: 1920px;
// width
$desktopWidth: 1280px;
$smDesktopWidth: 980px;
$tableWidth: 768px;
$smTableWidth: 576px;           
$phoneWidth: 480px;
$smPhoneWidth: 320px;
//other sizes
$descLayoutWidth: 1170px;

// other width for grid, maybe
$size-sm: 540px;
$size-md: 720px;
$size-lg: 960px;
$size-xl: 1140px;

// main font 
$mainFont: 'LatoRegular', Helvetica, Arial, sans-serif;
$boldFont: 'LatoBold', Helvetica, Arial, sans-serif;
$semiFont: 'LatoSemibold', Helvetica, Arial, sans-serif;
$heavyFont: 'LatoHeavy', Helvetica, Arial, sans-serif;
$mainFontSize: 18px;





$transitionAll: all .2s ease-in-out;