//служебные файлы
@import 'utils/variables.scss';
@import 'utils/reset.scss';
@import 'utils/fonts.scss';
@import 'utils/grid.scss';
@import 'utils/visibility-hidden.scss';

//файлы блоков
@import 'modules/header.scss';
@import 'modules/topbar.scss';
@import 'modules/logo.scss';
@import 'modules/navigation.scss';
@import 'modules/firstscreen.scss';
@import 'modules/content.scss';
@import 'modules/workflow.scss';
@import 'modules/orderform.scss';
@import 'modules/select.scss';
@import 'modules/range.scss';
@import 'modules/fileload.scss';
@import 'modules/footer.scss';
@import 'modules/payments.scss';
@import 'modules/contacts.scss';

body {
   font-family: $mainFont;
}

